* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

#header {
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 10vh;
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
}

#header .logo {
  display: flex;
  align-items: center;
  width: 10%;
  height: 10%;
}

#header .logo img {
  width: 100%;
  height: 100%;
}

#header .logo img:last-of-type {
  width: 170%;
  height: 175%;
  margin-left: -30px;
}

#navmenu {
  width: 60vw;
  border-radius: 10px;
  z-index: 10;
}

#navmenu ul {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  gap: 19px;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
}

#navmenu li {
  list-style: none;
}

#header a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

#header a:hover {
  color: #ffc451;
}

#header .getstarted-btn {
  border: solid 2px #ffc451;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
}

#header .getstarted-btn:hover {
  background-color: #ffc451;
  color: rgba(0, 0, 0, 0.8);
}

#header .active {
  color: #ffc451;
}

/*#========= HERO SECTION STARTS=========#*/
#hero {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: relative;
}

#hero img {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.hero-textbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 70vw;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}
.hero-text p {
  font-size: 24px;
  margin: 25px;
  color: #fff7;
}
.hero-icons {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  gap: 27px;
}

.hero-icons p {
  color: #fff;
  font-weight: 600;
  line-height: 0;
}

.hero-icons .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 0.1px solid #fff5;
  width: 180px;
  height: 180px;
  color: #fff;
  transition: all 0.3s ease;
}

.services svg {
  width: 75px;
  color: #ffc451;
  stroke: #ffc451;
}
.services:active,
.services:hover {
  color: #ffc451;
  border: 1px solid #ffc451;
}

.services:hover,
.services p:active {
  color: #ffc451;
}
/*#========= HERO SECTION ENDS=========#*/
/*#========= ABOUT SECTION STARTS =========#*/
.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 1.5;
  padding: 60px 100px;
  color: rgba(0, 0, 0, 0.7);
  gap: 28px;
}

.about-section h1 {
  font-size: 30px;
  line-height: 1;
  color: #000;
  margin-bottom: 19px;
}

.about-section-textbox {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.about-section-textbox svg {
  stroke: #ffc451;
  fill: none;
  stroke-width: 1px;
  height: 38px;
  align-self: flex-end;
}

.about-section-textbox ul {
}
.about-section-textbox li {
  list-style: none;
  margin-bottom: 10px;

  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
}
.about-img-box {
  height: 50vh;
  width: 40vw;
}
.about-img {
  width: 100%;
  height: 100%;
}

/*#========= ABOUT SECTION  ENDS=========#*/

/*#========= CLIENT SECTION STARTS =========#*/

.client-section {
  display: flex;
  flex-direction: row;
}
/*#========= CLIENT SECTION ENDS =========#*/

/*#========= FEATURES SECTION STARTS =========#*/
.features-section {
  padding: 50px 120px;
}
.features-section-main {
}
/*#========= FEATURES SECTION ENDS =========#*/

/*#========= STATS SECTION STARTS =========#*/
.stats-section {
  color: rgba(0, 0, 0, 0.7);
  padding: 50px 120px;
  line-height: 1.5;
}

.stats-section-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.stats-section-textbox-header h2 {
  font-size: 32px;
  color: #000;
  margin-bottom: 30px;
}

.stats-section-textbox-main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 90px;
}

.stat-data {
  display: flex;
  column-gap: 22px;
}

.stat-data h3 {
  font-size: 38px;
  color: #000;
}

.stat-data b {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.stat-data p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.stat-data svg {
  color: #ffc451;
  stroke: #ffc451;
  fill: currentColor;
  stroke-width: 0;
  height: 58px;
  align-self: flex-start;
}

/*#========= STATS SECTION ENDS =========#*/

/* <!--==============///////CONTACT SECTION STARTS//////===============  --> */
.contact-section {
  padding: 50px 120px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.contact-section-header p {
  display: inline-block;
  font-size: 15px;
  opacity: 50%;
}

.contact-section-header p span {
  display: inline-block;
  height: 1px;
  background-color: #ffc451;
  width: 100px;
  margin-bottom: 4px;
}

.contact-section-header h2 {
  font-size: 35px;
  font-weight: 700;
}

.contact-section-main {
  margin: 30px auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 2fr;
}

.contact-section svg {
  display: inline-block;
  stroke: #000;
  background-color: #ffc451;
  stroke-width: 0.1px;
  height: 47px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 15px;
}

.contact-section-main p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.contact-section-info {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 34px;
}

.contact-section-form {
}

#name,
#email {
  width: 49.5%;
  height: 5vh;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  margin-bottom: 20px;
}

#subject {
  width: 100%;
  padding: 8px 12px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 5vh;
}

#message {
  width: 100%;
  padding: 8px 12px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 20vh;
}

#name:hover,
#name:active,
#name:focus,
#email:hover,
#email:active,
#email:focus,
#subject:hover,
#subject:active,
#subject:focus,
#message:hover,
#message:active,
#message:focus {
  border: 1px solid #ffc451 !important;
}

.contact-section button {
  display: flex;
  align-self: center;
  justify-self: center;
  padding: 15px 38px;
  font-size: 15px;
  border: none;
  background-color: #ffc451;
  border-radius: 5px;
}

.contact-section button:hover {
  background-color: #f1c459;
}

/* <!--==============///////CONTACT SECTION ENDS//////===============  --> */

/* <!--==============///////FOOTER SECTION STARTS//////===============  --> */

.footer {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-size: 14px;
}

.footer-main {
  padding: 70px 120px;
  display: grid;
  grid-template-columns: 1.1fr 0.5fr 0.6fr 1fr;
  line-height: 2;
}

.footer .container {
  display: flex;
  align-items: center;
  width: 100vw;
}

.footer .logo {
  display: flex;
  align-items: center;
  justify-content: inherit;
  margin-left: -30px;
  margin-bottom: 25px;
  width: 12vw;
  height: 10.5vh;
}

.footer .logo img {
  display: flex;
  width: 100%;
  height: 100%;
}

.footer .logo img:last-of-type {
  display: flex;
  width: 130%;
  height: 38.5%;
  margin: 13px 0 0 -26px;
}

.footer-section-B a,
.footer-section-C a {
  cursor: pointer;
  text-decoration: none;
  color: #fff9;
}

#footer a:hover {
  color: #ffc451;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contact .social-media-icons {
  font-size: 50px;
  color: #ffc451;
}

.footer-section-B svg,
.footer-section-C svg {
  stroke: #ffc451;
  stroke-width: 1px;
  height: 28px;
  align-self: flex-end;
}

#footer li {
  margin: 10px 0 0 -7px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
}

.footer-section-D {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  justify-content: flex-start;
}

.footer-section-D input {
  padding: 13px 30px;
  border: 0.5px solid #fff3;
  border-radius: 4px;
  background-color: inherit;
  cursor: pointer;
}
.footer-section-D input[type="submit"] {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  background-color: #f1c451;
  font-size: 15px;
}

.footer-section-D input:hover {
  background-color: #f1c451;
}

.copyright {
  margin-top: 90px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  text-justify: center;
}
.credits a {
  color: #ffc451;
  text-decoration: none;
}
/* <!--==============///////FOOTER SECTION//////===============  --> */
